<div class="row g-3 p-2">
  <button class="btn btn-primary mb-3" type="submit">送出</button>
  <a href="/auth/facebook" class="btn btn-info">
    <i class="bi bi-facebook me-1"></i>
    透過Facebook繼續
  </a>
  <a href="/auth/google" class="btn btn-danger">
    <i class="bi bi-google me-1"></i>
    透過Google繼續
  </a>
  <a href="/auth/line" class="btn btn-success">
    透過LINE繼續
  </a>
</div>