<div class="welcome-container">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-5 welcome-description">
        <div class="d-flex flex-column align-items-center justify-content-between">
          <h1 class="my-3 text-primary">餐廳清單</h1>
          <figure>
            <blockquote class="blockquote">
              <p>「等下要吃什麼？」</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              胡適、愛因斯坦 <cite title="Source Title">應該沒有說過這句話</cite>
            </figcaption>
          </figure>
          <p class="fs-4">為了解決如此難題</p>
          <ul>
            <li>好吃的記錄下來</li>
            <li>難吃的昭告天下</li>
            <li>簡單又迷人小型專案</li>
          </ul>
          <p class="fs-4 text-center mb-0">👉 就是這樣 👈<br><span>👇👇👇</span></p>
        </div>

        <div class="row g-3 p-2">
          <a href="/user/register" class="btn btn-primary">註冊</a>
          <a href="/user/login" class="btn btn-outline-primary">登入</a>
        </div>
      </div>
      <div class="col-12 col-lg-7 p-5 d-none d-lg-flex justify-content-center align-items-center">
        <img src="/images/undraw_donut_love_kau1.svg" class="w-100">
      </div>
    </div>
  </div>
</div>